name: Haskell CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        ghc: ["9.12.2", "9.10.3", "9.8.4"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Haskell
        uses: haskell-actions/setup@v2
        with:
          ghc-version: ${{ matrix.ghc }}

      - name: Cache Cabal
        uses: actions/cache@v5
        with:
          path: |
            ~/.cabal/store
            dist-newstyle
          key: ${{ runner.os }}-cabal-${{ matrix.ghc }}-${{ hashFiles('**/*.cabal') }}
          restore-keys: |
            ${{ runner.os }}-cabal-${{ matrix.ghc }}-

      - name: Update dependencies
        run: cabal update

      - name: Build
        run: cabal build all
