name: HLint
on: [push, pull_request]

jobs:
  hlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: haskell-actions/setup@v2
        with:
          ghc-version: "9.8.2"
      - run: cabal exec -- hlint .
